<!DOCTYPE html>
<html>
<head>
  <title>Justice Guard</title>
  <!-- Add your CSS and JavaScript links here -->
  <style>
    /* CSS Styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }

    p {
      color: #333;
    }

    a {
      color: #333;
      text-decoration: none;
    }
  </style>

</head>
<body>
  <header>
    <h1>Justice Guard</h1>
    <!-- Add header content here -->
  </header>

  <nav>
    <!-- Add navigation menu here -->
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('create_report') }}">Report Incident</a></li>
      <li><a href="{{ url_for('view_reports') }}">View Reports</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% endif %}
      <!-- Add more navigation links as needed -->
    </ul>
  </nav>


  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <!-- Add footer content here -->
    <p>&copy; 2023 Justice Guard. All rights reserved.</p>
  </footer>
</body>
</html>
